.inputPlus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 45px;
  &Value {
    border: 1px solid #b1b1b1;
    border-radius: 5px 0 0 5px;
    padding: 9px 10px;
    font: 1rem/1.4 "Roboto", sans-serif;
    background: #dbe2ef;
    &::placeholder {
      color: #7b7b7b;
    }
  }

  &Button {
    border-radius: none;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    background: #3f72af url("./images/plus.svg") no-repeat 50%;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
